Django>=4.2
psycopg2-binary
python-dotenv
dj-database-url


djangorestframework
djangorestframework-simplejwt


django-cors-headers


django-filter


scikit-learn
numpy
pandas
joblib

PyPDF2==3.0.1
gunicorn